Repository lucasvtiradentes/gcal-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js, jsx, ts, tsx}": ["prettier --write", "eslint --fix"],
  "*.{json, md, yaml}": ["prettier --write"]
}

:bookmark: tags: new version release 1.7.7 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6a93a014f670bd3ec596661ac254cf67e2a43d61
Due: none

:ambulance: hotfix: implement timezone correction (#99)
  dist/GAS-setup.js
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.7.8 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  303b0ac2a83f7b18fdb3b2e641d0fb1d331c0eda
Due: none

:wrench: config: update packages to latest version
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  dist/GAS-setup.js
  dist/GcalSync.js
  dist/GcalSync.min.js
  dist/UMD-GcalSync.js
  package.json
  scripts/post-build.ts
Due: prettier --write, eslint --fix

:wrench: config: update vscode configs
  .vscode/settings.json
Due: prettier --write

:recycle: refactor: split code base to improve maintainability
  dist/GAS-appsscript.json
  dist/GAS-setup.js
  dist/GcalSyncOld.js
  dist/UMD-GcalSync.js
  dist/classes/GAS.js
  dist/classes/Github.js
  dist/classes/ICS.js
  dist/consts/app_info.js
  dist/consts/configs.js
  dist/consts/errors.js
  dist/index.js
  dist/schemas/configs.schema.js
  dist/schemas/validate_configs.js
  dist/utils/date_utils.js
  dist/utils/logger.js
  dist/utils/object_utils.js
  dist/utils/sleep.js
  dist/utils/try_catch.js
  dist/utils/validate_object_schema.js
  package.json
  src/GcalSyncOld.ts
  src/classes/GAS.ts
  src/classes/Github.ts
  src/classes/ICS.ts
  src/consts/app_info.ts
  src/consts/configs.ts
  src/consts/errors.ts
  src/index.ts
  src/schemas/configs.schema.ts
  src/schemas/validate_configs.ts
  src/utils/date_utils.ts
  src/utils/logger.ts
  src/utils/object_utils.ts
  src/utils/sleep.ts
  src/utils/try_catch.ts
  src/utils/validate_object_schema.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add gas properties types
  .github/workflows/nodejs-ci-cd.yml
  dist/classes/GAS.d.ts
  dist/consts/configs.d.ts
  dist/index.d.ts
  dist/index.js
  dist/index.min.js
  resources/configs.ts
  src/classes/GAS.ts
  src/classes/Github.ts
  src/classes/ICS.ts
  src/consts/configs.ts
  src/index.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add method to get all gcal tasks
  dist/classes/GoogleCalendar.d.ts
  dist/consts/configs.d.ts
  dist/index.js
  dist/index.min.js
  dist/utils/fetcher.d.ts
  src/classes/Github.ts
  src/classes/GoogleCalendar.ts
  src/classes/ICS.ts
  src/consts/configs.ts
  src/index.ts
  src/utils/fetcher.ts
Due: prettier --write, eslint --fix

:sparkles: feature: updated sync tasks from ticktick to gcal
  dist/classes/Gmail.d.ts
  dist/classes/GoogleCalendar.d.ts
  dist/classes/ICS.d.ts
  dist/index.d.ts
  dist/index.js
  dist/index.min.js
  dist/schemas/configs.schema.d.ts
  src/classes/Gmail.ts
  src/classes/GoogleCalendar.ts
  src/classes/ICS.ts
  src/index.ts
  src/schemas/configs.schema.ts
Due: prettier --write, eslint --fix

:recycle: refactor: update sync tracking results
  dist/classes/GoogleCalendar.d.ts
  dist/classes/ICS.d.ts
  dist/index.d.ts
  dist/index.js
  dist/index.min.js
  src/classes/GoogleCalendar.ts
  src/classes/ICS.ts
  src/index.ts
Due: prettier --write, eslint --fix

:recycle: refactor: github commits sync methods
  dist/classes/Github.d.ts
  dist/classes/GoogleCalendar.d.ts
  dist/consts/configs.d.ts
  dist/consts/types.d.ts
  dist/index.js
  dist/index.min.js
  dist/methods/generate_emails.d.ts
  dist/methods/sync_ticktick.d.ts
  dist/utils/javascript/date_utils.d.ts
  src/classes/Github.ts
  src/classes/GoogleCalendar.ts
  src/consts/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/methods/sync_github.ts
  src/methods/sync_ticktick.ts
  src/utils/javascript/date_utils.ts
Due: prettier --write, eslint --fix

:art: codestyle: update sync removed github commits
  dist/classes/GoogleCalendar.d.ts
  dist/consts/configs.d.ts
  dist/consts/types.d.ts
  dist/index.js
  dist/index.min.js
  dist/methods/sync_github.d.ts
  dist/utils/javascript/array_utils.d.ts
  src/classes/GoogleCalendar.ts
  src/consts/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/methods/sync_github.ts
  src/utils/javascript/array_utils.ts
Due: prettier --write, eslint --fix

:bug: bugfix: commit date error
  dist/index.js
  dist/index.min.js
  dist/methods/sync_ticktick.d.ts
  src/classes/Github.ts
  src/index.ts
  src/methods/sync_github.ts
  src/methods/sync_ticktick.ts
Due: prettier --write, eslint --fix

:bug: bugfix: remove commits error
  dist/consts/configs.d.ts
  dist/consts/types.d.ts
  dist/index.js
  dist/index.min.js
  dist/methods/sync_github.d.ts
  src/consts/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/sync_github.ts
Due: prettier --write, eslint --fix

:sparkles: feature: update email methods
  dist/consts/configs.d.ts
  dist/consts/types.d.ts
  dist/index.d.ts
  dist/index.js
  dist/index.min.js
  dist/methods/generate_emails.d.ts
  dist/methods/sync_github.d.ts
  dist/methods/sync_ticktick.d.ts
  src/consts/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/methods/sync_github.ts
  src/methods/sync_ticktick.ts
Due: prettier --write, eslint --fix

:wrench: config: update configs schema
  dist/consts/types.d.ts
  dist/index.js
  dist/index.min.js
  resources/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/validate_configs.ts
  tests/tests.spec.ts
Due: prettier --write, eslint --fix

:adhesive_bandage: fix: validation tests
  dist/consts/errors.d.ts
  dist/index.d.ts
  dist/index.js
  dist/index.min.js
  package.json
  resources/configs.ts
  src/classes/Github.ts
  src/classes/GoogleEmail.ts
  src/classes/ICS.ts
  src/consts/errors.ts
  src/index.ts
  src/methods/sync_ticktick.ts
  tests/tests.spec.ts
Due: prettier --write, eslint --fix

:adhesive_bandage: fix: email items datetime format
  dist/classes/GoogleAppsScript.d.ts
  dist/classes/ICS.d.ts
  dist/consts/configs.d.ts
  dist/index.d.ts
  dist/index.js
  dist/index.min.js
  dist/methods/generate_emails.d.ts
  src/classes/GoogleAppsScript.ts
  src/classes/GoogleCalendar.ts
  src/classes/ICS.ts
  src/consts/configs.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/methods/sync_ticktick.ts
Due: prettier --write, eslint --fix

:wrench: config: update configs example file
  package.json
  resources/configs.ts
Due: prettier --write

:wrench: config: update postbuild script
  .npmignore
  README.md
  dist/classes/Github.d.ts
  dist/classes/GoogleAppsScript.d.ts
  dist/classes/GoogleCalendar.d.ts
  dist/classes/GoogleEmail.d.ts
  dist/classes/ICS.d.ts
  dist/consts/app_info.d.ts
  dist/consts/configs.d.ts
  dist/consts/errors.d.ts
  dist/consts/types.d.ts
  dist/index.d.ts
  dist/index.min.js
  dist/methods/generate_emails.d.ts
  dist/methods/sync_github.d.ts
  dist/methods/sync_ticktick.d.ts
  dist/methods/validate_configs.d.ts
  dist/setup/GAS_appsscript.json
  dist/setup/GAS_gcalsync_dev.js
  dist/setup/GAS_init.js
  dist/utils/abstractions/fetcher.d.ts
  dist/utils/abstractions/logger.d.ts
  dist/utils/abstractions/try_catch.d.ts
  dist/utils/javascript/array_utils.d.ts
  dist/utils/javascript/date_utils.d.ts
  dist/utils/javascript/object_utils.d.ts
  dist/utils/javascript/string_utils.d.ts
  dist/utils/validate_object_schema.d.ts
  package.json
  resources/configs.ts
  scripts/post-build.ts
  src/consts/app_info.ts
  tsconfig.json
Due: prettier --write, eslint --fix
