Repository lucasvtiradentes/gcal-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:recycle: refactor: release email message (#57)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:recycle: refactor: make sync functions decoupled (#62)
  .npmignore
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bug: bugfix: daily emails sent more than once per day (#58)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add gcal link to email tables (#61)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add a public link to sync (#59)
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.4.0 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0fd42e904fffe7f05f3e66ea0cc5e7a03fc4e019
Due: none

:sparkles: feature: add way to sync private repo commits (#60)
  .npmignore
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.5.0 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  525e65f6305ab7307428498340c66b3a585e8389
Due: none

:construction_worker: ci: split ci-cd workflow (#65)
  .github/CODE_OF_CONDUCT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/workflows/ci-cd.yml
  .github/workflows/node-ci.yml
  .github/workflows/publish-package.yml
  README.md
  dist/GcalSync.min.js
  docs/FAQ.MD
  package.json
Due: prettier --write, eslint --fix

:bug: bugfix: github syncing bug (#66)
  README.md
  dist/GcalSync.min.js
  scripts/post-build.ts
  src/GcalSync.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.5.1 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3271f3fd25f64398b3198948dd23c6a4ac6d01cd
Due: none

:bug: bugfix: github delete commits sync (#68)
  .eslintignore
  .github/workflows/nodejs-ci.yml
  .github/workflows/publish-package.yml
  .github/workflows/reusable-nodejs-ci.yml
  .npmignore
  .prettierignore
  dist/GcalSync.min.js
  docs/CONTRIBUTING.md
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.5.2 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  32c6d8948797e07cd7e318dc13c2f9a371958bb7
Due: none

:recycle: refactor: change workflows names (#69)
  .github/workflows/nodejs-ci.yml
  .github/workflows/publish-package.yml
  .github/workflows/reusable-nodejs-ci.yml
  dist/GcalSync.min.js
Due: prettier --write, eslint --fix

:recycle: refactor: update config object structure (#71)
  README.md
  dist/GcalSync.min.js
  package.json
  src/GcalSync.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:sparkles: feature: send error emails (#72)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:goal_net: detect: handle github sync errors (#73)
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:goal_net: detect: handle ticktick sync errors (#74)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add a confirmation step in github sync (#70)
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.6.0 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  316efcaa9392ae1f6d3fc6c2c6923358dcfa963e
Due: none

:bug: bugfix: not specified ignored-tags (#77)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:sparkles: feature: get user email automatically (#78)
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:sparkles: feature: store logs in a variable to show in api runs (#80)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js, jsx, ts, tsx}) or (any of: *.{json, md, yaml})
  eslint --fix: any of: *.{js, jsx, ts, tsx}
