Repository lucasvtiradentes/gcal-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js, jsx, ts, tsx}": ["prettier --write", "eslint --fix"],
  "*.{json, md, yaml}": ["prettier --write"]
}

:white_check_mark: tests: add unit testing (#40)
  .editorconfig
  .eslintrc.json
  .lintstagedrc
  .prettierrc.json
  dist/GcalSync.min.js
  dist/TickSync.min.js
  jest.config.js
  package.json
  scripts/post-build.ts
  src/GcalSync.ts
  tests/dev.ts
  tests/export-gcal.ts
  tests/gcal-config.ts
  tests/tests.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.0.1 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31b0a47c203780e47ca83a58a9f9da2d3abc01b9
Due: none

:sparkles: feature: add github sync (#42)
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
  tests/dev.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.1.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d069e14486ea6c1b6cbcee466074863e79204c03
Due: none

:sparkles: feature: add github sync stats (#44)
  dist/GcalSync.min.js
  scripts/gitmoji-setup.ts
  src/GcalSync.ts
  tests/dev.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add github stats to daily emails (#44)
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.2.0 [skip ci]
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c54974c573c95758fcca0f5f4a8a07e2a2b26553
Due: none

:bug: bugfix: version number in every commit (#46)
  README.md
  dist/GcalSync.min.js
  release.config.js
  scripts/post-build.ts
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.2.1 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  440fff28630efbd99b4fce84f995bdf1447d2fed
Due: none

:bug: bugfix: broken build due to incorrect version updating (#47)
  README.md
  dist/GcalSync.min.js
  scripts/post-build.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.2.2 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  865ae7b0cb1dd0e95409a88bcf7e91a24d786cc2
Due: none

:memo: docs: fix mistakes in readme config example (#48)
  .github/images/gcalsync.png
  README.md
  dist/GcalSync.min.js
  scripts/post-build.ts
  src/GcalSync.ts
  tests/dev.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.2.3 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6cd96e03a8ff9ec958f1f17069f6058b07cd8a36
Due: none

:bug: bugfix: error in maintance mode changing today stats (#49)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.2.4 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4416309a39a9c9793b0b2d6fdca1137318d78d9f
Due: none

:recycle: refactor: ticktick sync feature (#50)
  dist/GcalSync.min.js
  scripts/post-build.ts
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:sparkles: feature: update gcal when end date changes (#51)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:art: codestyle: limit daily emails to just one (#52)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:recycle: refactor: make cleaner email functions (#53)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.3.0 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  03b255993fa7fa179b8aa5f2627d7cdc4e404ae2
Due: none

:bug: bugfix: error when updating gcal events (#56)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.3.1 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9bb11fe1cfc51e1dcff5f006fe4f480594d38d61
Due: none
