Repository lucasvtiradentes/gcal-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js, jsx, ts, tsx}": ["prettier --write", "eslint --fix"],
  "*.{json, md, yaml}": ["prettier --write"]
}

:sparkles: feature: store logs in a variable to show in api runs (#80)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bug: bugfix: not specified ignored-tags (#77)
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:sparkles: feature: get user email automatically (#78)
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
  tests/gcal-config.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.7.0 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7394c6884fb5a6fc42e5d5725857a1681fdd9330
Due: none

:bug: bugfix: google calendar api error
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.7.1 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4beb3ced755d23c042584ba2723f24ca8ccf9edf
Due: none

:recycle: refactor: purge unused config files (#86)
  .eslintignore
  .eslintrc.json
  .github/FUNDING.yml
  .github/images/gcalsync_alt.png
  .github/workflows/move-to-project.yml
  .github/workflows/nodejs-ci-cd.yml
  .github/workflows/nodejs-ci.yml
  .github/workflows/publish-package.yml
  .github/workflows/reusable-nodejs-ci.yml
  .gitignore
  .npmignore
  .prettierignore
  README.md
  commitlint.config.js
  dist/GcalSync.min.js
  jest.config.js
  package.json
  release.config.js
  resources/dev.ts
  resources/export-gcal.ts
  resources/gcal-config.ts
  scripts/github-issues.ts
  scripts/gitmoji-setup.ts
  scripts/post-build.ts
  tests/tests.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

:art: codestyle: add rollup to use the package everywhere (#85)
  .eslintrc.json
  README.md
  dist/GAS-appsscript.json
  dist/GAS-setup.js
  dist/GcalSync.min.js
  package.json
  resources/configs.ts
  resources/dev.ts
  resources/export-gcal.ts
  resources/gcal-config.ts
  scripts/post-build.ts
  src/GcalSync.ts
  tests/tests.spec.ts
Due: prettier --write, eslint --fix

:memo: docs: add new images to readme docs
  .github/workflows/move-to-project.yml
  README.md
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bug: bugfix: escape special characters in tasks names (#87)
  README.md
  dist/GAS-setup.js
  dist/GcalSync.min.js
  package.json
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.7.2 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e89bca445c0012713d34a068c9dd9930a9c6949b
Due: none

:recycle: refactor: re-write update new version release email (#90)
  src/GcalSync.ts
Due: none

:memo: docs: update configs to explain better each option (#91)
  README.md
  dist/GAS-appsscript.json
  dist/GAS-setup.js
  dist/GcalSync.min.js
  resources/configs.ts
  scripts/post-build.ts
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.7.3 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bfb41c5626ea115013411930434e5137d66f236b
Due: none

:bug: bugfix: add option to change gcal event color (#92)
  README.md
  dist/GAS-setup.js
  dist/GcalSync.min.js
  resources/configs.ts
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:memo: docs: explain new config color option (#93)
  .gitignore
Due: none

:bookmark: tags: new version release 1.7.4 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  58b468725d9dde4d1eca44c09641c7858702b5a8
Due: none

:bug: bugfix: catch minor error when deleting events
  dist/GAS-setup.js
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.7.5 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a00b2203f93f3846885f9f7699a3730d37ee044
Due: none

:bug: bugfix: set completed tasks to default color
  README.md
  dist/GAS-setup.js
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.7.6 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  198c35fc25601ab1f2c35884828813c7e7d786e8
Due: none

:ambulance: hotfix: fix gcal ticktickTaskId error
  dist/GAS-setup.js
  dist/GcalSync.min.js
  src/GcalSync.ts
Due: prettier --write, eslint --fix
