Repository lucasvtiradentes/gcal-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:wrench: config: update packages to latest version
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  dist/GAS-setup.js
  dist/GcalSync.js
  dist/GcalSync.min.js
  dist/UMD-GcalSync.js
  package.json
  scripts/post-build.ts
Due: prettier --write, eslint --fix

:sparkles: feature: updated sync tasks from ticktick to gcal
  dist/classes/Gmail.d.ts
  dist/classes/GoogleCalendar.d.ts
  dist/classes/ICS.d.ts
  dist/index.d.ts
  dist/index.js
  dist/index.min.js
  dist/schemas/configs.schema.d.ts
  src/classes/Gmail.ts
  src/classes/GoogleCalendar.ts
  src/classes/ICS.ts
  src/index.ts
  src/schemas/configs.schema.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add method to get all gcal tasks
  dist/classes/GoogleCalendar.d.ts
  dist/consts/configs.d.ts
  dist/index.js
  dist/index.min.js
  dist/utils/fetcher.d.ts
  src/classes/Github.ts
  src/classes/GoogleCalendar.ts
  src/classes/ICS.ts
  src/consts/configs.ts
  src/index.ts
  src/utils/fetcher.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.8.0 [skip ci]
  README.md
  docs/CHANGELOG.MD
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6be275439b266c58e3ae205f1c3b232549d491e1
Due: none

:adhesive_bandage: fix: add versioned files on release config
  README.md
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  dist/setup/GAS_init.js
  release.config.js
  resources/dev.ts
  scripts/post-build.ts
Due: prettier --write, eslint --fix

:memo: docs: update readme description
  README.md
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.8.1 [skip ci]
  README.md
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  docs/CHANGELOG.MD
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  1c41b40b6d2633fd0fbd8dfbb26adc20358352e9
Due: none

:sparkles: feature: improve gas properties enum
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  dist/setup/GAS_init.js
  src/classes/GoogleAppsScript.ts
  src/consts/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/utils/javascript/array_utils.ts
  src/utils/javascript/type_utils.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add session handler
  dist/index.js
  dist/index.min.js
  scripts/post-build.ts
  src/consts/app_info.ts
  src/consts/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/methods/handle_session_data.ts
  src/methods/sync_github.ts
  src/methods/sync_ticktick.ts
  src/modules/Github.ts
  src/modules/GoogleAppsScript.ts
  src/modules/GoogleCalendar.ts
  src/modules/GoogleEmail.ts
  src/modules/ICS.ts
  src/utils/abstractions/fetcher.ts
  src/utils/abstractions/logger.ts
Due: prettier --write, eslint --fix

:sparkles: feature: update configs schema
  README.md
  dist/index.js
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  dist/setup/GAS_init.js
  package.json
  resources/configs.ts
  scripts/post-build.ts
  src/consts/types.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/methods/handle_session_data.ts
  src/methods/validate_configs.ts
  src/utils/check_if_should_sync.ts
  src/utils/javascript/array_utils.ts
Due: prettier --write, eslint --fix

:bug: bugfix: revert original github commit datetime
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  src/modules/Github.ts
Due: prettier --write, eslint --fix

:bento: assets: add postman github api collection to resources
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  resources/github.postman_collection.json
Due: prettier --write, eslint --fix

:adhesive_bandage: fix: github commit link table error
  dist/index.js
  dist/index.min.js
  dist/setup/permissions.json
  dist/setup/setup.js
  package.json
  resources/dev.ts
  scripts/post-build.ts
  src/consts/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/generate_emails.ts
  src/methods/handle_session_data.ts
  src/methods/sync_github.ts
  src/modules/Github.ts
  src/modules/GoogleCalendar.ts
Due: prettier --write, eslint --fix

:recycle: refactor: improve configs validation methods
  dist/index.js
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  src/methods/validate_configs.ts
Due: prettier --write, eslint --fix

:wrench: config: update dist gas files configs
  README.md
  dist/index.js
  dist/index.min.js
  dist/setup/GAS_gcalsync_dev.js
  dist/setup/setup.js
  scripts/post-build.ts
  src/index.ts
  src/utils/abstractions/fetcher.ts
  src/utils/abstractions/logger.ts
Due: prettier --write, eslint --fix

:wrench: config: update gas dist files configs
  .husky/pre-commit
  scripts/post-build.ts
Due: none

:sparkles: feature: add api methods
  .husky/pre-commit
  README.md
  dist/index.js
  dist/index.min.js
  dist/setup/gcalsync_dev.js
  dist/setup/setup.js
  release.config.js
  scripts/post-build.ts
  src/index.ts
  src/methods/handle_session_data.ts
  src/methods/sync_github.ts
  src/methods/sync_ticktick.ts
  src/modules/Github.ts
  src/modules/ICS.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add maintenance mode
  README.md
  dist/index.js
  dist/index.min.js
  dist/setup/gcalsync_dev.js
  dist/setup/setup.js
  resources/configs.ts
  src/consts/types.ts
  src/index.ts
  src/methods/validate_configs.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.9.0 [skip ci]
  README.md
  dist/index.js
  dist/index.min.js
  dist/setup/gcalsync_dev.js
  docs/CHANGELOG.MD
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  53b6a20a8d511dbc64997a801a67d0ca90c92765
Due: none

:bug: bugfix: updated tasks error (#113)
  dist/index.js
  dist/index.min.js
  dist/setup/gcalsync_dev.js
  dist/setup/setup.js
  src/index.ts
  src/methods/handle_session_data.ts
  src/methods/sync_github.ts
  src/methods/sync_ticktick.ts
  src/modules/GoogleCalendar.ts
Due: prettier --write, eslint --fix

:sparkles: feature: add date utils to get timezone correction
  README.md
  dist/index.js
  dist/index.min.js
  dist/setup/gcalsync_dev.js
  src/modules/GoogleCalendar.ts
  src/utils/javascript/date_utils.ts
Due: prettier --write, eslint --fix

:bookmark: tags: new version release 1.10.0 [skip ci]
  README.md
  dist/index.js
  dist/index.min.js
  dist/setup/gcalsync_dev.js
  docs/CHANGELOG.MD
  package.json
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  4a2e142c01b9e14c42ced41ca2b57c4a912935d6
Due: none

Path conditions:
  prettier --write: (any of: *.{js, jsx, ts, tsx}) or (any of: *.{json, md, yaml})
  eslint --fix: any of: *.{js, jsx, ts, tsx}
